{% extends 'DevschoolCinemaBundle::layout.html.twig' %}


{% block body %}
    <div class="col-lg-12">
        <h1>Accueil</h1>
        <p>Bienvenue sur le site Symfony Devschool</p>
    </div>
{% endblock %}
